@import "tailwindcss";

@theme {
  --color-white: var(--el-color-white);
  --color-black: var(--el-color-black);
  --color-primary: var(--el-color-primary);
  --color-success: var(--el-color-success);
  --color-warning: var(--el-color-warning);
  --color-danger: var(--el-color-danger);
  --color-error: var(--el-color-error);
  --color-info: var(--el-color-info);
  --padding-card: var(--el-card-padding);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  font-size: 16px;
  --el-font-size-base: 16px;
}
